<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prices - CoinEd</title>
    <meta name="description" content="Live price of 3 crypto coins">
    <meta name="author" content="Chad Hatch">
    <link rel="stylesheet" href="styles/cryptocurrency.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts/crypto.js" defer></script>
</head>
<body>
    <header>
        <img src="images/logo.webp" alt="Logo" width="200">
        <nav>
            <a href="home.html">Home</a>
            <a href="education.html">Education</a>
            <a href="prices.html">Prices</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <main id="app">
        <div v-if="currentView === 'prices'">
            <h3>Cryptocurrency Prices</h3>
            <div class="container">
                <div v-for="(result, key) in results" :key="key">
                    <div class="item crypto">
                        <p>{{ key }}</p>
                    </div>
                    <div class="item result">
                        <p>$ {{ result.USD }}</p>
                    </div>
                    <div class="item result">
                        <p>&#8364; {{ result.EUR }}</p>
                    </div>
                    <div class="item result">
                        <p>£ {{ result.GBP }}</p>
                    </div>
                </div>  
            </div>
        </div>  
    </main>
    <footer>
        <p>&copy;2024 <span id="copyright"></span>🇵🇪 Chad Hatch 🇵🇪 USA</p>
        <p>Last modified: <span id="lastModified"></span></p>
    </footer>
    <script src="scripts/getdates.js" defer></script>
</body>
</html>
