body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Caveat", sans-serif;
}

header {
    font-size: 35px;
    background-color: darkseagreen;
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
}

header, main {
    margin: 0 auto;
}

h1 {
    color: #000;
    font-size: 48px;
}

nav {
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav a {
    display: none;
    color: #000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: dotted;
    color: darkcyan;
    border: 1px solid darkcyan;
}

.hamburger {
    display: block;
    position: absolute;
    padding: 1rem;
    top: 15px;
    right: 15px;
    margin-top: -120px;
}

h2 {
    grid-row: 1;
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
}

main {
    margin: 50px;
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.temple-card {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.temple-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    text-align: left;
    font-weight: 200;
}

footer {
    height: 75px;
    color: #000;
    text-align: center;
    background-color: darkseagreen;
    align-items: center;
}
